:root {
    --discord-main:#5865F2;
    --discord-dark-grey:#2c2f33;
    --discord-light-grey:#36393f;
	--legbot-green: #99d93a;
	--legbot-blue: #4991ff;
}
html {
    font-family: 'Nunito', sans-serif;
}
body {
    color: white;
	background: rgb(44,47,51);
	background: linear-gradient(330deg, rgba(44,47,51,1) 0%, rgba(22,24,25,1) 100%); 
}
header {
    margin: 100px auto;
}
.header-text-container {
    position: relative;
}
.header-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
h1 {
    font-family: uni_sansheavy_caps;
    color: var(--discord-main);
    font-size: 3.5rem;
}
.subtitle {
    font-family: uni_sansheavy_caps;
    font-size: 1.5rem;
}
header img {
    width: 200px;
    height: auto;
    display:block;
	animation: float 6s ease-in-out infinite;
}
header .col {
    display:block;
}
.btn-primary {
	background-color: #5a71c4;
	border-color: transparent;
    padding: 5px 50px;
    font-size: 1.3rem;
    margin: 0 10px;
}
.btn-primary:hover {
	border-color: transparent;
    background-color: var(--discord-main);
}
.features-section {
    background-color: #99AAB5;
    padding-top: 20px;
    padding-bottom: 50px;
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
}
.interactions {
	text-align: center;
}
.emojis {
	font-size: xx-large;
}
.sub-emojis {
	font-family: monospace;
	opacity: 0.5;
}
a, a:hover, a:visited {
	color: var(--legbot-blue);
}
.feature {
    padding: 10px 0;
}
.feature .col {
    max-width: 50%;
}
h4 {
	margin-top: 10px;
}
h2 {
    font-family: uni_sansheavy_caps;
    width: 100%;
    margin:auto;
    text-align: center;
    padding-bottom: 15px;
}
.feature-title {
    font-family: uni_sansheavy_caps;
    width: 100%;
    font-size: 1.3rem;
    padding: 10px 0;
    text-align: center;
    text-decoration: underline;
}
.feature-command {
    margin: 20px auto;
}
.feature-command::before {
    content: "Command: ";
}
.more .feature-command::before {
    content: "";
}
.more .feature-command {
    margin: 10px auto;
}
.command {
    margin: 10px;
    padding: 20px;
    font-weight: bold !important;
	background: rgba(218, 218, 218, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border: 1px solid rgba(218, 218, 218, 0.32);
}
.feature-image img {
    margin: auto;
    display: block;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
}
.more table{
    width: 100%;
}
.more table td {
    width: 50%;
    margin-top: 20px;
}
.badset {
    margin: auto auto 20px;
    display: block;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.75);
    width: auto;
}
.align-middle {
    text-align: center;
    font-weight: 500;
}
td {
    padding-top:20px;
    padding-bottom:20px; 
}
td:first-child {
    padding-right:0;
}
footer {
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer-section {
    margin-bottom: 30px;
}
.card {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 10px;

	background: rgba(218, 218, 218, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border: 1px solid rgba(218, 218, 218, 0.32);
}

@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('./fonts/uni_sans_heavy-webfont.woff2') format('woff2'),
         url('./fonts/uni_sans_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 520px) {
	.container {
		margin: 50px auto;
	}
	.legbot-face {
		height: 100px;
		width: auto;
	}
	.header-text {
		position: initial;
	}
	.btn-primary {
		margin-bottom: 10px;
	}
	.badset {
		display: none;
	}
	.more {
		margin-bottom: -100px;
	}
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}